/*********************
* Color
*********************/
.bg-color--keycolor {
  background-color: #222A38;
}
.bg-color--subcolor {
  background-color: #065F46;
}
.bg-color--gray {
  background-color: #e6e6e6;
}
